section {
    margin-bottom: 20px;
}

button {
    color: white;
    background-color: #719daa;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #719daa;
}

input,
p,
ul,
li,
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #353535;
}

.bold,
h3 {
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.habit_list {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 50px;
}

.habit_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #719daa;
    padding: 10px;
}

.header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: white;
}

.header h2 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
}

.startpage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin: 0% 20%;
}

.week-day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #719daa;
    color: white;
    border: 1px solid white;
    width: 80px;
    height: 40px;
    margin-bottom: 5px;
}

.smiley {
    width: 40px;
}

.clickable {
    cursor: pointer;
}

.calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin: 0% 20%;
}

.calendar-blank {
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.calendar-day {
    display: flex;
    align-items: top;
    justify-content: center;
    border: 1px solid #719daa;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.current-day {
    color: white;
    background-color: #719daa;
    border-radius: 20px;
}