section {
    margin-bottom: 20px;
}

button {
    color: white;
    background-color: #719daa;
    border: none;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #719daa;
}

input,
p,
ul,
li,
h3,
label,
address {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #353535;
}

.bold,
h3 {
    font-weight: 600;
}

.welcome {
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.habit_list {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 50px;
}

.habit_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habit_list p {
    margin-right: 10px;
}

.habit_adjustments {
    display: flex;
    align-items: center;
}

.colorpicker {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.header {
    background-color: #719daa;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header-today {
    color: white;
}

.login-welcome,
.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin: 0 10px
}

.login-button {
    color: #719daa;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
}

.header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: white;
    margin: 0;
    text-align: center;
}

.header h2 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    margin: 0;
    text-align: center;
}

.app-name {
    text-decoration: none;
}

.startpage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.week {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.week-day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #719daa;
    border-radius: 3px;
    color: white;
    border: 1px solid white;
    width: 80px;
    height: 40px;
    margin-bottom: 5px;
}

.smiley {
    width: 40px;
}

.clickable {
    cursor: pointer;
}

.calendar-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    gap: 5px;
}

.calendar-blank {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border: 1px solid #719daa;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    cursor: pointer;
}

.calendar-today {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-today-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #719daa;
    color: white;
    border-radius: 50%;
    padding: 3px;
    min-width: 20px;
    min-height: 20px;
}

.dialog-caption {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 600 !important;
    color: #719daa;
}

.dialog-habits {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dialog-caption-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.dialog-habits-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.button-close {
    margin-right: 15px;
}

.button-save {
    margin-top: 25px;
}

.habit-colors {
    display: flex;
    gap: 3px;
}

.footer {
    background-color: #719daa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.footer p,
address {
    font-size: 16px;
    color: white;
}